<h1>{{title}}</h1>

<ul>
    {{#each trips}}
    <li>
        <strong>{{name}}</strong> <br>
        Price: {{perPerson}} <br>
        Duration: {{length}} <br>
        Start Date: {{start}} <br>
        Resort: {{resort}} <br>
        <img src="/images/{{image}}" alt="{{name}}" width="200">
        <p>{{description}}</p>
    </li>
    {{/each}}
</ul>
